.idea/
.vscode/
node_modules/
vendor/
.DS_Store
.env
.env.local
.env.*.local
.phpunit.result.cache
/build/
/dist/
/tests/
*.log
*.zip
*.tar.gz
*.phar
coverage.xml
.php_cs.cache
.phpdoc.dist.xml
.phpdoc.xml
/.phpunit/
/.scrutinizer.yml
/.codeclimate.yml
/.htaccess
/web.config
Thumbs.db